*{
    font-family: 'Barlow', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.menu{
    background-color: rgb(8, 78, 2);
    width: 100%;
    height: 70px;      
}
.menu ul li{
    float: right;
    padding: 10px;    
    list-style: none;      
}
.menu ul li a{
    clear: both;
    display: inline-block;
    text-decoration: none;
    color: white;   
    margin-right: 10px;
    font-size: 15px;      
    padding: 7px;    
    margin-top: 10px;
}
.menu ul li a:hover{
   text-shadow: 5px 5px 3px black;
   color: rgb(253, 252, 246);
}
.menu h1{
    margin-left: 50px;
}
.menu h1 a{  
   padding-left: 35px;
   position: absolute;
   padding-top: 15px;
   color: white;
   cursor: pointer;
   text-decoration: none;
  
}
.menu h1 a:hover{
    text-shadow: 5px 5px 3px rgb(12, 7, 7);
    color: rgb(248, 245, 245);
}
.menu img{
    width: 70px;
    position: absolute;
    padding-top: 5px;    
    filter: (100%);
}
.content{
    border: 2px solid rgb(8, 78, 2);
    width: 100%;
    height: 550px;
    background-image: url(teh4.jpg);
    background-position: center;
    background-size: cover;
}
.content-menu{
  
    width: 100%;
    height: 500px;
}
.content-menu h2{
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin: 20px;
    
   
}
.content-menu h3{
    text-align: center;
    color: white;
    font-size: 25px;
   margin-top: 200px;

}
.content-menu p{
    font-size: 20px;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    

}
.about{
    border-top: 5px solid rgb(5, 124, 11);
    border-bottom: 5px solid rgb(5, 124, 11);
    height: 300px;
    margin: 20px;
    margin-top: 50px;
    
}
.about img{
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    filter: brightness(150%);
    border: 2px solid black;
    border-radius: 5px;  
    text-align: center; 
    margin-left: 200px;
}
.about-content{
    
   float: right;
   text-align: center;
   margin: 50px 200px 0 0;
   width: 500px;
   height: 200px;
 
}
.about-content h3{
    clear: both;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
.about-content h4{
     margin-bottom: 10px;
     padding: 5px;
}
.img1, .img2, .img3{
    width: 400px;
    height: 500px;
    background-color: rgb(5, 124, 11);
    border: 2px solid rgb(253, 252, 252);
    float: left;
    margin: 50px 20px;
    text-align: center;
    border-radius: 10px;
}
.nyoba{
    text-align: center;
  
    width: 100%;
    height: 600px;
    margin-top: 80px;
}
.img1 img{
    background-size: cover;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(252, 250, 250);
    margin-top: 30px;
    border-radius: 10px;
}
.img1 h4{
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
}
.img1 p{
    color: white;
    margin-bottom: 50px;   
}
.img1  a{
    text-decoration: none;
    border: 2px solid rgb(247, 245, 245);
    padding: 8px;
    color: white;
    border-radius: 20px;    
}
.img1 a:hover{
    background-color: white;
    color: rgb(5, 124, 11);
    border: 3px solid white;
}
.img2 img{
    background-size: cover;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(253, 248, 248);
    margin-top: 30px;
    border-radius: 10px;
}
.img2 h4{
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
}
.img2 p{
    color: white;
    margin-bottom: 30px;   
}
.img2  a{
    text-decoration: none;
    border: 2px solid rgb(250, 250, 250);
    padding: 8px;
    color: white;
    border-radius: 20px;   
}
.img2 a:hover{
    background-color: white;
    color: rgb(5, 124, 11);
    border: 3px solid white;
}
.img3 img{
    background-size: cover;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(240, 232, 232);
    margin-top: 30px;
    border-radius: 10px;
}
.img3 h4{
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
}
.img3 p{
    color: white;
    margin-bottom: 30px;   
}
.img3 a{
    text-decoration: none;
    border: 2px solid rgb(241, 232, 232);
    padding: 8px;
    color: white;
    border-radius: 20px;    
}
.img3 a:hover{
    background-color: white;
    color: rgb(5, 124, 11);
    border: 3px solid white;
}
.service{
    
    margin-top: 50px;
   
}
.service h3{
    text-align: center;
}
.service-content{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    text-align: center;
   margin-left: 430px;
}
.service img{
    width: 200px;
    height: 200px;
    background-size: cover;
}
.service-content h3{
    margin-bottom: 50px;
}
.service-content a{
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;    
    border-radius: 20px;
    text-align: center;
}
.service-content a:hover{
    background-color: rgb(5, 124, 11);
}
.service-content p{
    margin-bottom: 50px;
}
footer {
    border: 2px solid black;
    width: 100%;
    height: 100px;
    background-color: black;
}
footer p{
    color: white;
    margin-top: 80px;
}